.memberInfo {
	width: 60%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;	
}
.memberInfo table {
	width: 100%;	
}
.memberInfo th, .memberInfo td {
	padding: 5px;		
}

.memberInfo table input {
	margin-right: 10px;
	height: 35px;
}
.memberInfo table input:focus {
	border: 4px solid #006d94;
}

.buttonDiv {
	margin-top: 20px;
	text-align: center;	
}


.buttonDiv button{
	background: #a3b926;
}

.addr{
	width: 60%;
}

button, select{
	width: 120px;
	height: 39px;
	background: #000000;
	box-sizing: border-box;
	border-radius: 5px;
	border: 0 solid transparent;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	margin-right: 10px;
}
h1{
	text-align: center;
}

