h1{
	text-align: center;
}

.menu {	
	width: 95%;
	text-align: right;	
}
div a{
	color:#395F9E;
	font-weight: bold;
	cursor: pointer;
}
.orderDetail {
	width: 50%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;	
}

table{
	border-collapse: collapse;
	padding: 10px;
	width:100%;
	text-align:left;
	border-bottom:1px solid #665b5f;
}

td{	
	margin-right: 5px;
	height: 35px;
}
#titleMessage{
	font-size:30px;
	text-align:center;
}
#detailMessage{
	border-bottom:1px solid #665b5f;
}

#btnBox{
	text-align: center;
}

