<?xml version="1.0" encoding="UTF-8"?>
<!-- dtd설정부터 해야함 -->
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd"> 

<configuration>
	<typeAliases>
		<typeAlias type="com.kosta.bank.dto.Account" alias="account"/>
		<typeAlias type="com.kosta.bank.dto.Member" alias="member"/>
	</typeAliases>
</configuration>