<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
		<typeAlias type="com.kosta.shop.dto.Cart" alias="cart"/>
		<typeAlias type="com.kosta.shop.dto.Goods" alias="goods"/>
		<typeAlias type="com.kosta.shop.dto.Order" alias="order"/>
		<typeAlias type="com.kosta.shop.dto.Member" alias="member"/>
		<typeAlias type="com.kosta.shop.dto.OrderInfo" alias="orderInfo"/>
	</typeAliases>
</configuration>

